#navbar-login {
    padding: 5px 10px;
    font-weight: 600;
}
#navbar-login:hover {
    background-color: rgb(160, 162, 164);
    border-radius: 20px;
    color: #a08908;
}
.navbar-bg-color {
    background-color: #af1a1a;
}
.body-bg-color {
    background-color: #b2b2b2;
}
#second-navbar {
    border-bottom: 1px solid gray;
}