#navbar-login {
    padding: 5px 10px;
    font-weight: 600;
}
#navbar-login:hover {
    background-color: rgb(160, 162, 164);
    border-radius: 20px;
    color: #a08908;
}
#navbar-logout {
    padding: 5px 10px;
    font-weight: 600;
    background-color: transparent;
}
#navbar-logout:hover {
    background-color: rgb(160, 162, 164);
    border-radius: 20px;
    color: #a08908;
}
.navbar-bg-color {
    background-color: #af1a1a;
}
.body-bg-color {
    background-color: #b2b2b2;
}
#second-navbar {
    border-bottom: 2px solid gray;
}
.card-design {
    border-radius: 10%;
    border: 3px solid black;
    box-shadow: 3px 12px 3px rgba(0, 0, 0, 0.8);
}
.card-body {
    border-radius: 5%;
}
input {
    border-bottom: 1px solid black;
}
@media (min-width: 320px) and (max-width: 766px) {
    .card-design {
        width: 290px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .login-card {
        margin-top: 150px;
    }
}
@media (min-width: 766px) and (max-width: 1024px) {
    .col-md-4 {
        margin-left: 20%;
        margin-right: 30%;
    }
    .card-design {
        width: 330px;
        margin: 0 auto;
        margin-top: 90px;
    }
}

@media (min-width: 1025px) {
    .card-design {
        width: 330px;
        margin: 0 auto;
        margin-top: 90px;
    }
    .login-card {
        margin-top: 150px;
    }
}

.user-card {
    width: 90%;
    margin: auto;
    margin-top: 120px;
    border-radius: 30px;
    border: 2px solid black;
}
.user-card-body {
    border-radius: 0;
}
.card-header {
    font-weight: bolder;
    background-color: #af1a1a;
    color: #fcee9b;
}
.text-bold {
    font-weight: bold;
}

/* Media query to reduce text size for smaller screens */
@media (max-width: 767px) {
    .user-card .MuiTypography-root {
        font-size: 50%;
    }
}

.header-text,
.header-text:hover {
    color: black;
    padding: 2px 0px;
    padding-right: 10px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-text-head,
.header-text:hover:hover {
    font-weight: bold;
}
.active-menu:hover {
    color: #fcee9b;
    font-weight: bold;
    border: 2px solid gray;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: #b2b2b2;
}

.smaller-font {
    font-size: 16px; /* Adjust the font size as needed */
    margin-right: 10px; /* Add spacing between navigation links */
    font-weight: 600;
}
.nav-item.nav-link:hover {
    font-size: inherit; /* Reset font size on hover */
}

/* Dropdown container */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu {
    border-radius: 10px;
    z-index: 999;
}

/* Show dropdown content on hover */
.active-menu:hover .dropdown-content {
    display: block;
}

/* Dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change background color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: transparent;
}




/* Modal Styles */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
}



.modal-footer {
    margin-top: 20px;
    text-align: right;
}

.close-button {
    background-color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
