#navbar-login {
    padding: 5px 10px;
    font-weight: 600;
}
#navbar-login:hover {
    background-color: rgb(160, 162, 164);
    border-radius: 20px;
    color: #a08908;
}
.navbar-bg-color {
    background-color: #af1a1a;
}
.body-bg-color {
    background-color: #b2b2b2;
}
#second-navbar {
    border-bottom: 1px solid gray;
}
.card-design {
    border-radius: 10%;
    border: 3px solid black;
    box-shadow: 3px 12px 3px rgba(0, 0, 0, 0.8);
}
.card-body {
    border-radius: 5%;
}
input {
    border-bottom: 1px solid black;
}
@media (min-width: 320px) and (max-width: 766px) {
    .card-design {
        width: 290px;
        margin: 0 auto;
        margin-top: 80px;
    }
    .login-card {
        margin-top: 150px;
    }
}
@media (min-width: 766px) and (max-width: 1024px) {
    .col-md-4 {
        margin-left: 20%;
        margin-right: 30%; 
    }
    .card-design {
        width: 330px;
        margin: 0 auto;
        margin-top: 90px;
    }
}

@media (min-width: 1025px) {
    .card-design {
        width: 330px;
        margin: 0 auto;
        margin-top: 90px;
    }
    .login-card {
        margin-top: 150px;
    }
}
